@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
/* Hide scrollbar but allow vertical scrolling */
::-webkit-scrollbar {
    width: 0px;
  }
  
  body {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
  }
  